.about{
    width: 100%;
    height: 100vh;
    background-color: color(secondary);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border-radius: 0 50704px 50000px 0;
    transform: translateX(-300px);
    margin-bottom: 12rem;
    @include resp(xl){
        transform: translateX(-200px);
    }
    @include resp(md){
        transform: translateX(-100px);
    }
    @include resp(sm){
        transform: translateX(0);
    }
    @include resp(mobileLG){
        height: 120vh;
    }
    @include resp(mobileXXS){
        height: 150vh;
    }

    &-container{
        grid-area: 4/2/9/7;
        width: 100%;
        height: 100%;
        @include flexPostion;
        transform: translateX(200px);

        @include resp(md){
            grid-area: 4/1/9/6;
            transform: translateX(100px);
        }
        @include resp(sm){
            grid-area: 2/2/7/9;
            transform: translateX(0);
        }
        @include resp(mobileSM){
            grid-area: 2/2/7/10;
        }


        &-img{
            width: 80%;
            height: 100%;
            max-height: 60rem;
            object-fit: cover;
            border-radius: 50704px;

            @include resp(md){
               width: 100%;
               padding: 1rem;
            }
            @include resp(sm){
                padding: 0;
            }
        }
    }

    &-article{
        grid-area: 4/7/9/12;
        width: 70%;
        margin-left: 2rem;
        align-self: center;
        transform: translateX(200px);

        @include resp(md){
            grid-area: 4/6/9/12;
            transform: translateX(140px);
        }
        @include resp(sm){
            grid-area: 6/2/12/11;
            transform: translateX(0);
        }
        @include resp(mobileSM){
            width: 100%;
        }
        @include resp(mobileXXS){
            grid-area: 7/2/12/11;
        }


        &-heading{
            font-size: size(lg);
            margin-bottom: 1rem;
            @include resp(mobileXS){
                font-size: size(md);
                margin-top: 3rem;
            }
        }
    }

    &-circle{
        background-color: transparentize(color(quarternary), .3);
        border: 1px solid color(quinary);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin: 2rem;
        @include resp(mobileSM){
            display: none;
        }
    }
}
.circle-1{
    grid-area: 2/11/5/13;

    @include resp(xl){
        grid-area: 1/10/4/12;
    }
    @include resp(md){
        grid-area: 1/9/4/12;
    }
    @include resp(xs){
        grid-area: 2/9/4/12;
    }
}
.circle-2{
    grid-area: 8/10;

    @include resp(xs){
        grid-area: 8/10/8/12;
    }
}
.circle-3{
    grid-area: 2/3;

    @include resp(md){
       grid-area: 1/3;
    }
    @include resp(sm){
        grid-area: 1/1;   
    }
}
.circle-4{
    grid-area: 10/6/12/8;
    
    @include resp(xl){
        grid-area: 11/6/13/8;
    }
    @include resp(sm){
     grid-area: 11/4/13/7;   
    }
}