.komp{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-bottom: 10rem;
    padding-right: 2rem;
    @include resp(mobileSM){
        padding: 1rem;
    }
    @include resp(mobileXS){
        height: 100vh;
    }
    @include resp(mobileXXS){
        height: 110vh;
    }

    &-div{
        grid-area: 2/4/5/7;
        width: 50rem;
        height: 50rem;
        z-index: 100;
        background: rgba(255, 255, 255, .12);
        border-radius: 50%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border: 1px solid rgba(255, 255, 255, .2);
        @include flexPostion;

        @include resp(xxl){
            grid-area: 1/2/4/5;
        }
        @include resp(sm){
            width: 40rem;
            height: 40rem;
        }
        @include resp(xs){
            width: 35rem;
            height: 35rem;
            grid-area: 1/2/5/5;
        }
        @include resp(mobileMD){
            grid-area: 1/2/6/5;
        }
        @include resp(mobileXS){
            width: 25rem;
            height: 25rem;
        }

        &-heading{
            font-size: size(lg);
            color: aliceblue;
            @include resp(mobileXS){
                font-size: size(md);
            }
        }
    }

    &-container{
        grid-area: 1/6/13/13;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: linear-gradient(color(quarternary), color(quinary), rgb(255, 255, 71));
        border-radius: 50704px 50704px 0 50704px;
        @include flexPostion;

        @include resp(xxl){
            grid-area: 1/4/13/13;
        }
        @include resp(sm){
            grid-area: 3/2/13/13
        }
        @include resp(xs){
            grid-area: 4/2/13/13
        }
        @include resp(mobileMD){
            grid-area: 5/2/13/13
        }


        &-article{
            @include flexPostion;

            &-text{
                margin: 3rem;
                width: 40%;
                @include resp(mobileMD){
                    width: 60%;
                }
                @include resp(mobileXXS){
                    width: 90%;
                }
            }
        }
    }
}