.menu{
    position: absolute;


    &-container{
        background: linear-gradient( color(tertiary), color(quarternary),color(quinary));
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
        transform: translate(-55px, -55px);
        @include flexPostion;
        flex-direction: column;
        z-index: 200;
        position: absolute;

    }

    &-logo{
        width: 10rem;
        cursor: pointer;
        padding: 0 2.5rem;
    }

    &-burger{   
        width: 30rem;
        height: 30rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: transparentize(color(secondary), .5);
        border: 1px solid white;
        @include flexPostion;
        transition: transform 1s linear;
        visibility: hidden;
        @include resp(mobileSM){
            width: 22rem;
            height: 22rem;
        }

        &-list{
            list-style: none;
            margin-top: 1rem;
            padding: 0.5rem;
            
            @include resp(mobileXS){
                margin-top: .5rem;
            }

            &-item{
                text-align: center;
                font-size: size(sm);
                margin-bottom: 1rem;
                border-radius: 50704px;
                @include resp(mobileSM){
                    font-size: size(xs);
                    font-weight: 600;
                }
            }
        }
        &-link{
            text-decoration: none;
            color: color(primary);
            cursor: pointer;
        }
    }
}

.checkbox:checked ~ .menu-burger{
    visibility: visible;
    transform: translate(10rem, 20rem);
}
