.function{
    width: 100%;
    height: auto;
    @include flexCenter;

    @include resp(sm){
        height: 110vh;
    }

    &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-article{
        z-index: 200;
        position: absolute;
        padding: 2rem;
        margin: 2rem;
        width: 70%;
        background-color: transparentize(color(tertiary), .2);

        &-heading{
            @include text($sz: size(lg));
            color: color(primary);
            letter-spacing: 2px;

            @include resp(md){
                font-size: size(md);
            }
        }
        &-text{
            @include text($sz: size(md));
            color: color(primary);
            line-height: 5rem;

            @include resp(lg){
                font-size: size(sm);
                line-height: 3rem;
            }

            @include resp(sm){
                text-align: left;
            }

            @include resp(xs){
                line-height: normal;
            }
        }

        &-link{
            @include link($cl: color(primary));
        }
    }
}