.future{
    width: 100%;
    height: 100%;
    background-color: color(primary);
    display: flex;

    @include resp(extra){
        flex-direction: column-reverse;
    }
    
    &-container{
        justify-self: flex-end;
        width: 60%;
        height: 100%;
        margin: 2%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);

        @include resp(extra){
            width: 90%;
            margin: 2rem auto;
        }

        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-img:nth-child(1){
            grid-area: 3/3/6/6;
            z-index: 100;
        }
        &-img:nth-child(2){
            grid-area: 5/1/8/4;
        }
        &-img:nth-child(3){
            grid-area: 5/5/8/8;
        }
        &-img:nth-child(4){
            grid-area: 1/1/4/4;
        }
    }

    &-article{
        width: 40%;
        margin: 2%;
        border-bottom: 2px solid color(secondary);
        padding: 1rem;

        @include resp(extra){
            width: 90%;
            margin: auto;
        }

        &-heading{
            @include text($sz: size(lg), $ta: left);

            @include resp(xs){
                font-size: size(md);
            }
        }
        &-text{
            @include text($ta: left, $sz: size(md));
            margin: 1rem 0;

            @include resp(xs){
                font-size: size(sm);
            }
        }
        
        &-link{
            @include link;
            padding: 2rem 0;
        }
    }
}