.intro{
    background-color: color(primary);
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 50vh;

    &-article{
        margin: auto;
        padding: 2rem 0;
        width: 80%;
        border-bottom: 2px solid color(secondary);

        @include resp(xs){
            padding: 1rem 0;
        }

        &-heading{
            @include text($sz: size(lg));
            letter-spacing: 2px;

            @include resp(xs){
                font-size: size(md);
            }
        }
        &-text{
            @include text($sz: size(md));
            line-height: 4rem;

            @include resp(xs){
                font-size: size(sm);
                line-height: 2rem;
            }
        }

        &-link{
            @include link;
        }
    }
}