@mixin text ($ta: center, $sz: size(sm),) {
    text-align: $ta;
    font-family: 'Barlow';
    font-size: $sz;
}

@mixin flexCenter($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin link($cl: color(secondary)){
    @include text;
    color: $cl;
    cursor: pointer;
}

@mixin resp($breakpoint){
    @if($breakpoint == xl){
        @media(max-width: 1200px){
            @content;
        }
    }
    @if($breakpoint == lg){
        @media(max-width: 1080px){
            @content;
        }
    }
    @if($breakpoint == extra){
        @media(max-width: 900px){
            @content;
        }
    }
    @if($breakpoint == md){
        @media(max-width: 768px){
            @content;
        }
    }
    @if($breakpoint == sm){
        @media(max-width: 500px){
            @content;
        }
    }
    @if($breakpoint == xs){
        @media(max-width: 350px){
            @content;
        }
    }
}