$colors:(
    primary: #f6f5f6,
    secondary: #0758f5,
    tertiary: #000,
);

@function color($color-name){
    @return map-get($colors, $color-name);
}

$font-size:(
    sm: 1.6rem,
    md: 2.5em,
    lg: 4em,
    xl: 7em,
);

@function size($size){
    @return map-get($font-size, $size);
}