.footer{
    height: 30vh;
    background-color: color(secondary);
    @include flexCenter($jc: space-between);
    flex-direction: column;

    &-link{
        @include link;
        color: color(primary);
        font-size: size(md);
        margin-top: 6rem;

        @include resp(md){
            font-size: size(sm);
        }
        @include resp(xs){
            margin: 6rem 2rem;
        }
    }
    &-list{
        display: flex;
        justify-self: end;
        list-style: none;
        margin: 2rem;
        padding: 0;

        &-item{
            @include text;
            color: color(primary);
            margin-right: 1rem;

            @include resp(xs){
                font-size: size(sm) - .6rem;
                margin-right: .5rem;
            }
        }
    }
}